/*

PALETA DE COLORES

#F66B0EWhite-Gray
#F66B0E Orange
#205375 Royal Blue
#F66B0E Dark blue
*/

/*Colors*/
$royalBlue:#205375;
$boldColor:#FEAF37;
$whiteGray:#EFEFEF;
$darkslategray:darkslategray;
$mainBg:rgb(25,25,25);
$searchBorder:rgb(114, 197, 197);
$iconColor:rgb(90, 87, 87);
$headerBg:rgb(18, 31, 31);

/*measurements*/

$imgW:34vw;

/*borders radius*/

$b1:30px;
$b2:30px;
$b3:0px;
$b4:0px;


