@media (min-width:320px){
@import "../utilities/variables";
*{
    padding: 0;
    border: 0;
    margin:0;
}
.container{
    background-color: darkslategray;
    height: 15vh;
}
.checkBox{
    display: none;
}
.pageBrand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100vw;
    padding-left: 1vw;
    padding-top: 2vh;
    height:10vh;
}
.lblCheckBox{
    position: absolute;
    top: 1em;
    right:1em;
    filter: invert(1);
    cursor:pointer;
    z-index: 1;
}
.mainMenu{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgb(90, 87, 87,1.5);
    transform: translateY(-100%);
    transition: 0.5s;
}
.hamburguer:hover{
    filter:invert(0);
    transition: 0.5s;
}
ul{
    padding:1em;
}
li{
    list-style: none;
    padding: 1em;
}
a{
    text-decoration: none;
    font-size: 2em;
    font-family: 'montserrat','sans-serif';
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
.checkBox:checked + .mainMenu{
    transform: translateY(0);
    transition: 0.5s;
}
.navBar{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .checkBox{
        display: none;
}
.search {
display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
padding-right: 2em;
}

.search__input {
font-family:'Montserrat', sans-serif;
font-size: inherit;
background-color: #f4f2f2;
border: none;
color:darkslategray;
padding: 0.7rem 1rem;
border-radius: 30px;
width: 25vw;
height: 1em;
top:2em;
right: 8em;
position: absolute;
transition: all ease-in-out .5s;
margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
box-shadow: 0 0 1em rgb(114, 197, 197);
}

.search__input:focus {
outline: none;
background-color: #f0eeee;
border-color: #F66B0E;
}

.search__input::-webkit-input-placeholder {
font-weight: 100;
color: rgb(90, 87, 87);
}

.search__input:focus + .search__button {
background-color: #f0eeee;
}

.search__button {
border: none;
background-color: transparent;
margin-top: 0.1em;
position:absolute;
top:3em;
right:9em;
}

.search__button:hover {
cursor: pointer;
}

.search__icon {
height: 1.3em;
width: 1.3em;
fill: rgb(90, 87, 87);
}
}
@media (min-width:768px){
@import "../utilities/variables";
div.container{
    display: flex;
    flex-wrap: wrap;
    background-color: $headerBg;
    align-items:stretch;
    justify-content: space-around;
    height: 22vh;
    .pageBrand{
        width: 100vw;
        padding-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        height:10vh;
        a{
            img{
                width: 20vw;
            }
        }
    }
    .navBar{
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .checkBox{
            display: none;
        }
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style:none;
                a{
                    text-decoration: none;
                    padding: 0 2vw 0 2vw;
                    font-size: 0.98em;
                    font-family: 'Montserrat', sans-serif;
                    &:link{
                        color:$whiteGray;
                    }
                    &:visited{
                        color:$whiteGray;
                    }
                    &:hover{
                        color:$boldColor;
                        transition: 0.4s;
                    }   
                }
            }
        }
    }
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-right: 2em;
}

.search__input {
    font-family:'Montserrat', sans-serif;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color:darkslategray;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 25vw;
    height: 1em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em rgb(114, 197, 197);
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
    border-color: #F66B0E;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: rgb(90, 87, 87);
}

.search__input:focus + .search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: transparent;
    margin-top: 0.1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: rgb(90, 87, 87);
}
}
@media (min-width:1200px) {
@import "../utilities/variables";
.container{
display: flex;
background-color: $headerBg;
align-items: center;
justify-content: space-around;
height: 12vh;
.pageBrand{
    a{
        img{
            width: 9vw;
        }
    }
}
.navBar{
    display: flex;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            list-style:none;
            a{
                text-decoration: none;
                padding: 0 2vw 0 2vw;
                font-size: 1.2em;
                font-family: 'Montserrat', sans-serif;
                &:link{
                    color:$whiteGray;
                }
                &:visited{
                    color:$whiteGray;
                }
                &:hover{
                    color:$boldColor;
                    transition: 0.4s;
                }   
            }
        }
    }
}
}
.search {
display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
}

.search__input {
font-family:'Montserrat', sans-serif;
font-size: inherit;
background-color: #f4f2f2;
border: none;
color:darkslategray;
padding: 0.7rem 1rem;
border-radius: 30px;
width: 12em;
transition: all ease-in-out .5s;
margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
box-shadow: 0 0 1em rgb(114, 197, 197);
}

.search__input:focus {
outline: none;
background-color: #f0eeee;
border-color: #F66B0E;
}

.search__input::-webkit-input-placeholder {
font-weight: 100;
color: rgb(90, 87, 87);
}

.search__input:focus + .search__button {
background-color: #f0eeee;
}

.search__button {
border: none;
background-color: transparent;
margin-top: 0.1em;
}

.search__button:hover {
cursor: pointer;
}

.search__icon {
height: 1.3em;
width: 1.3em;
fill: rgb(90, 87, 87);
}
}